
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: azure;
    font-family: 'Poppins', sans-serif;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 110px 0px;
    align-items: center;

}
.firstsection >div{
   width: 30%;
 
}
.leftsection{
      font-size: 2rem;
}
.leftsection .button{
   padding: 50px 0px;
}
.leftsection .btn{

    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px  solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }
.rightsection img{
    width: 80%;
  }

  .cursor {
    font-size: 1em;
    color: #000;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
    


nav{
    display: flex;
    justify-content:space-around;
    height: 80px;
    background-color: rgb(18, 18, 62);
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    
    color:rgb(189, 189, 247);
    font-size: 1.1rem;
}
.left{
    font: 1.5rem;
}
.purple{
    color: rgb(153, 153, 226);

}
.text{
    color: rgb(153, 153, 226);
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height:80vh ;
}
main hr{
border: 0;
background: rgb(153, 153, 226);
height: 1.2px;
margin: 45px 83px;
}
.secondsection h1{
    font-size: 1.9rem;
}
.text-gray{
    color: gray;
}
.secondsection .box{
    background: white;
    width: 75vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}
.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title{
 position: relative;
 top: 75px;
 width: 150px;
 font-size: 13px;
}
.vertical-desc{
position: relative;
top: 86px;
width: 150px;
font-size: 9px;
color: gray;
}
footer{
    background-color: rgb(43, 0, 43);
   
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
 width: 223px;
}
footer .footer-right{
 text-align: center;
 color: gray;
 padding: 0 12px;

}